@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
@import "tailwindcss";

@theme {
  --font-byte: "Bytesized", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --breakpoint-mf: '396px';
  --color-background: #050505;
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 500px);
  }

  75% {
    transform: translate(0, -500px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes scanlines {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

:root {
  color: white;
  font-family: var(--font-byte);
}

.tela::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 100%;
  background: repeating-linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      /* Linhas escuras */
      rgba(0, 0, 0, 0.4) 1px,
      transparent 1.5px,
      transparent 3px
      /* Espaçamento das scanlines */
    );
  pointer-events: none;
  /* Para não interferir com cliques */
  animation: scanlines 2s linear infinite;
}

.tela::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 300%;
  background: url('../public/images/noise.avif') repeat;
  /* Textura de ruído */
  opacity: 0.2;
  /* Leve estática */
  pointer-events: none;
  animation: noise 1s infinite steps(8);
  /* Movimento rápido para estática */
}

input[type="range"]::-webkit-slider-thumb {
  --webkit-appearance: none;
  appearance: none;
  background-color: #99a1af;
  width: 25px;
  height: 25px;
  border-radius: 25%;
}

input[type="range"]::-moz-range-thumb {
  background-color: #99a1af;
  width: 25px;
  height: 25px;
  border-radius: 25%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
      #6b6b6b,
      /* Cor escura até o thumb */
      #6b6b6b calc(var(--value, 0%) - 1%),
      #ffffff calc(var(--value, 0%) + 1%),
      /* Cor clara após o thumb */
      #ffffff);
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(to right,
      #6b6b6b,
      /* Cor escura até o thumb */
      #6b6b6b calc(var(--value, 0%) - 1%),
      #ffffff calc(var(--value, 0%) + 1%),
      /* Cor clara após o thumb */
      #ffffff);
}